{% extends 'base.html.twig' %}

{% block body %}
<p>
    Hello World
</p>

    <p>
        using default colours =
        {% if default_colours %}
            yes
        {% else %}
            no
        {% endif %}
    </p>
    <ul>
        {% for property, colour in colours %}
            <li>
                {{ property }} = {{ colour }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
