<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hello from the home page</h1>

<p>
    and a big hello to {{ name }}
</p>

</body>
</html>