{% extends 'base.html.twig' %}


{% block body %}
<h1>Calculator home</h1>

    <form method="post" action="{{ url('calc_process') }}">
        <p>
            Num 1:
            <input type="text" name="num1">
        </p>
        <p>
            Num 2:
            <input type="text" name="num2">
        </p>
        <p>
            Operation:
            <br>
            ADD
            <input type="radio" name="operation" value="add">
            <br>
            SUBTRACT
            <input type="radio" name="operation" value="subtract">
            <br>
            DIVIDE
            <input type="radio" name="operation" value="divide">
        </p>

        <p>
            <input type="submit" value="calculate">
        </p>
    </form>

{% endblock %}
