{% extends 'base.html.twig' %}

{% block body %}
    <h1>List products page</h1>


    <ul>
        {% for product in products %}
            <li>
                id = {{ product.id }}
                <br>
                name = {{ product.name }}
                <br>
                price = {{ product.price }}
                <br>
                <a href="{{ url('product_show', {'id':product.id}) }}">SHOW Details</a>
            </li>
        {% else %}
            <li>(there are no products in the database)</li>
        {% endfor %}
    </ul>

{% endblock %}